---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout
  title="Conditions Générales de Vente"
  description="Conditions générales de vente de Pep's Consult. Modalités d'inscription, tarifs, annulation et règlement pour nos formations professionnelles."
>
  <section class="my-12">
    <div class="container">
      <div class="section">
        <h1 class="page-title !mb-2">Conditions Générales de Vente</h1>
      </div>
      <div class="section">
        <h2>Article 1 : Désignation</h2>
        <p>
          SASU PEP’S CONSULT est un organisme de formation professionnelle dont le siège social est situé au 25 rue du
          Maréchal Foch, 78000 VERSAILLES, qui met en place et dispense formations inter-entreprises et des formations
          intra-entreprises, en présentiel et/ou à distance (e-Learning), seule ou en partenariat. Enregistré sous le
          numéro « en cours d’enregistrement » auprès du préfet de région des YVELINES. Cet enregistrement ne vaut pas
          agrément par l’État. SASU PEP’S CONSULT immatriculée sous le n° de SIRET : 933 697 013 00011 à VERSAILLES
        </p>
      </div>
      <div class="section">
        <h2>Article 2 : Définition</h2>
        <ul>
          <li>
            <strong>client</strong> : toute personne physique ou morale, particulier ou professionnel, qui s’inscrit ou passe
            commande d’une formation auprès de SASU PEP’S CONSULT.
          </li>
          <li>
            <strong>client professionnel</strong> : toute personne physique ou morale, professionnel, qui s’inscrit ou passe
            commande d’une formation auprès de SASU PEP’S CONSULT.
          </li>
          <li>
            <strong>client particulier</strong> : tout particulier qui s’inscrit et passe commande d’une formation auprès
            de SASU PEP’S CONSULT.
          </li>
          <li><strong>stagiaire</strong> : la personne physique qui participe à une formation.</li>
          <li>
            <strong>formations inter-entreprises</strong> : les formations qui ont lieu dans les locaux de l’organisme de
            formation ou dans une salle louée par celui-ci.
          </li>
          <li>
            <strong>formations intra-entreprises</strong> : les formations qui ont lieu dans les locaux de l’entreprise cliente.
          </li>
          <li><strong>CGV</strong> : les conditions générales de vente, détaillées ci-dessous.</li>
          <li><strong>OPCO</strong> : les Opérateurs de Compétences.</li>
        </ul>
      </div>
      <div class="section">
        <h2>Article 3 : Objet et champ d’application</h2>
        <p>
          Les présentes CGV s’appliquent à l’ensemble des prestations de formation engagées par SASU PEP’S CONSULT pour
          le compte d’un Client. Le fait de s’inscrire ou de passer commande, que ce soit par le biais des sites
          internet de SASU PEP’S CONSULT ou sur place directement, implique l’adhésion entière et sans réserve du Client
          aux présentes CGV. Le Client reconnaît être en pleine possession de ses capacités juridiques, physiques,
          mentales et intellectuelles pour comprendre et appliquer les présentes conditions générales de vente.
        </p>
        <p>
          SASU PEP’S CONSULT se réserve le droit de modifier à tout moment les présentes CGV, sans qu’il ne soit
          nécessaire d’informer ou d’obtenir l’accord de qui que ce soit au préalable. Les CGV qui s’appliqueront durant
          la formation seront celles en vigueur au moment de la validation de l’inscription par le client. Les sites
          Internet SASU PEP’S CONSULT portent toujours la dernière version à la connaissance de tous.
        </p>
        <p>
          Pour certaines formations, des conditions particulières de vente précisent ou complètent les présentes CGV.
          Les conditions particulières de vente figurent sur la convention ou le contrat de formation remis au client.
          En cas de contradiction entre les conditions particulières de vente et les présentes CGV, les dispositions des
          conditions particulières de vente priment.
        </p>
        <p>
          Dans le cas où l’une quelconque des dispositions des présentes CGV serait déclarée nulle ou non écrite, les
          autres dispositions resteront intégralement en vigueur et seront interprétées de façon à respecter l’intention
          originelle des parties. Pour les formations financées par le MonCompteFormation, les CGV du CPF s’appliquent
          en plus, elles sont disponibles sur : <a
            target="_blank"
            href="https://www.moncompteformation.gouv.fr/espace-public/conditions-generales-
dutilisation"
            >moncompteformation.gouv.fr</a
          >
        </p>
      </div>
      <div class="section">
        <h2>Article 4 : Public concerné et limitation d’âge</h2>
        <p>
          SASU PEP’S CONSULT a pour vocation de proposer un éventail de produits et services strictement réservés aux
          professionnels et aux porteurs de projets. Ces outils, formations, et autres produits et services visent à
          remplir notre objectif : la formation pour les dirigeants de Petites et Moyennes Entreprises (PME) et pour les
          porteurs de projet.
        </p>
        <p>
          Des limitations d’âge s’appliquent : Les participants mandés par les entreprises clientes de nos formations
          doivent être âgés de plus de 16 ans (pour les produits physiques et électroniques) et de plus de 18 ans (pour
          les services : formations, ateliers, initiations).
        </p>
      </div>
      <div class="section">
        <h2>Article 5 : Accès aux sites</h2>
        <p>
          De fait de la nature même du réseau Internet ainsi que des éventuelles opérations de maintenance et de
          développement, SASU PEP’S CONSULT ne peut garantir la disponibilité, et ne pourra être tenu responsable
          d’indisponibilité et/ou de dysfonctionnements. L’utilisateur utilisant les sites du réseau de SASU PEP’S
          CONSULT sous sa seule et entière responsabilité, aucune action ne pourra être engagée à l’encontre de SASU
          PEP’S CONSULT pour tout préjudice qu’il soit matériel (y compris pertes de données, de logiciels, de
          programmes...) ou financier.
        </p>
      </div>
      <div class="section">
        <h2>Article 6 : Commande</h2>
        <p>
          Le Client déclare avoir pris connaissance de l’ensemble des présentes Conditions Générales de Vente, et le cas
          échéant des Conditions Particulières de Vente liées à un produit ou à un service, et les accepter sans
          restriction ni réserve.
        </p>
      </div>
      <div class="section">
        <h2>Article 7a : Utilisation plateforme e-learning (distanciel asynchrone)</h2>
        <p>
          Le e-learning consiste à dispenser de manière individualisée des formations à distance par l’utilisation d’un
          ou plusieurs modules de formation dans un espace électronique sécurisé.
        </p>
        <p>
          SASU PEP’S CONSULT peut concéder gracieusement de laisser l’accès à la plateforme ouverte jusqu’à 1 an depuis
          la date de début de la formation. Ceci pour les stagiaires qui ont réglé intégralement le coût de leur
          formation.
        </p>
      </div>
      <div class="section">
        <h2>Article 7b : Sessions en distanciel synchrone</h2>
        <p>
          Les sessions individuelles ou de groupe en distanciel synchrone seront enregistrées et mises à disposition du
          stagiaire sur une plateforme en ligne où il pourra se connecter via un lien envoyé après la session.
        </p>
      </div>
      <div class="section">
        <h2>Article 8 : Modalités de formation</h2>
        <p>
          L’Organisme de formation est libre d’utiliser les méthodes et outils pédagogiques de son choix, qui relèvent
          de sa seule compétence.
        </p>
      </div>
      <div class="section">
        <h2>Article 9 : Responsabilité</h2>
        <p>
          Les participants aux formations réalisées en présentielles sont tenus de respecter le règlement intérieur SASU
          PEP’S CONSULT, affiché et joint au contrat/convention de formation.
        </p>
      </div>

      <div class="section">
        <h2>Article 10.1 : Conditions financières, règlements et modalités de paiement</h2>
        <p>Les prix sont indiqués en euros hors TVA et TTC.</p>
        <p>
          SASU PEP’S CONSULT se réserve la possibilité de modifier ses prix à tout moment pour l’avenir. Toutefois, le
          tarif appliqué à une commande sera celui annoncé au moment de la commande et indiqué sur la convention ou
          contrat.
        </p>
        <p>
          Le règlement total du prix de la formation est à effectuer à l’entrée en la formation, au comptant, à l’ordre
          de SASU PEP’S CONSULT (déduction faite de l’acompte s’il a été versé).
        </p>
        <p>
          Au cas par cas, un accord spécifique d’échelonnement de paiement peut être proposé par SASU PEP’S CONSULT.
        </p>
        <p>
          Cette facilité de paiement ne doit pas être assimilée à un abonnement, car le client s’engage à régler
          l’intégralité de la prestation qu’il a contractée. En cas de paiement en plusieurs fois, et conformément à la
          législation, l’intégralité des sommes contractées reste donc due et sera placée si nécessaire en recouvrement.
        </p>
      </div>

      <div class="section">
        <h2>Article 10.2 : Règlement OPCO</h2>
        <p>
          En cas de règlement par l’OPCO dont dépend le Client, il appartient au Client d’effectuer sa demande de prise
          en charge avant le début de la formation. L’accord de financement doit être communiqué au moment de
          l’inscription.
        </p>
        <p>
          En cas de prise en charge partielle par l’OPCO, la différence sera directement facturée par SASU PEP’S CONSULT
          au Client.
        </p>
        <p>
          Si l’accord de prise en charge du Client ne parvient pas à SASU PEP’S CONSULT au plus tard un jour ouvrable
          avant le démarrage de la formation, SASU PEP’S CONSULT facturera la totalité des frais de formation au Client.
        </p>
        <p>
          Dans le cas où l’organisme tiers n’accepte pas de payer la charge qui aurait été la sienne suite à des
          absences, un abandon ou pour quelque raison que ce soit, le Client est redevable de l’intégralité du prix de
          la formation, qui lui est donc facturé.
        </p>
      </div>

      <div class="section">
        <h2>Article 11 : Retards</h2>
        <p>
          Pour toute somme non payée à l’échéance prévue, et conformément à la loi N°2001-420 du 15 mai 2001, le Client
          sera de plein droit redevable :
        </p>
        <ul>
          <li>
            De pénalités de retard équivalentes au taux d’intérêt, appliqué par la Banque Centrale Européenne à son
            opération de refinancement la plus récente majoré de dix (10) points,
          </li>
          <li>
            Du paiement d’une indemnité forfaitaire d’un montant net de 40 € due au titre des frais de recouvrement,
            conformément aux articles L. 441-6 du code de commerce.
          </li>
        </ul>
        <p>
          Ces sommes seront exigibles à compter du lendemain de la date de paiement prévue sur la facture et sans qu’une
          mise en demeure ne soit nécessaire. SASU PEP’S CONSULT aura la faculté d’obtenir le règlement par voie
          contentieuse aux frais du Client sans préjudice des autres dommages et intérêts qui pourraient être dus à SASU
          PEP’S CONSULT.
        </p>
      </div>

      <div class="section">
        <h2>Article 12 : Refus de commande</h2>
        <p>
          Dans le cas où un Client s’inscrirait à une formation SASU PEP’S CONSULT sans avoir procédé au paiement des
          formations précédentes, SASU PEP’S CONSULT pourra refuser d’honorer la commande et lui refuser sa
          participation à la formation, sans que le Client puisse prétendre à une quelconque indemnité, pour quelque
          raison que ce soit.
        </p>
      </div>

      <div class="section">
        <h2>
          Article 13 : Annulation, modification ou report des formations présentielles par l’Organisme de Formation
        </h2>
        <p>
          Si SASU PEP’S CONSULT était exceptionnellement contraint d’annuler ou d’interrompre l’action de formation, le
          Client en serait informé dans les meilleurs délais par tout moyen écrit afin de convenir de leur report.
        </p>
        <p>
          SASU PEP’S CONSULT se réserve le droit d’annuler ou de reporter une session de formation si le nombre minimal
          de participants n’est pas atteint.
        </p>
        <ul>
          <li>En cas d’annulation par SASU PEP’S CONSULT les sommes versées sont remboursées au client.</li>
          <li>
            En cas de report, SASU PEP’S CONSULT propose de nouvelles dates : si le client les accepte, les sommes déjà
            versées sont imputées sur le prix de la nouvelle session de stage ; si le client les refuse, ces sommes lui
            sont remboursées.
          </li>
          <li>
            En cas de cessation anticipée de la formation par SASU PEP’S CONSULT pour un motif indépendant de sa
            volonté, le contrat est résilié de plein droit et les prestations de formation effectivement dispensées sont
            facturées au prorata temporis de leur valeur prévue au contrat, déduction faite le cas échéant des sommes
            déjà facturées et/ou payées.
          </li>
          <li>
            Dans tous les cas, l’annulation ou le report du stage de formation ne peut donner lieu au versement de
            dommages et intérêts à quelque titre que ce soit.
          </li>
        </ul>
        <p>
          Dans le cadre de ses prestations de formation, SASU PEP’S CONSULT est tenue à une obligation de moyen et non
          de résultat vis-à-vis de ses Clients ou de ses Stagiaires.
        </p>
        <p>
          En cas d’événement fortuit ou de force majeure ne permettant pas à SASU PEP’S CONSULT d’assurer tout ou partie
          de l’action de formation, celui-ci s’engage à rechercher toute solution permettant dans des conditions
          raisonnables de coût et de contraintes d’exploitation de poursuivre l’exécution normale des prestations objet
          des présentes.
        </p>
        <p>
          Sont ici considérés comme cas fortuit ou de force majeure, outre ceux habituellement reconnus par la
          jurisprudence : la maladie ou l’accident d’un intervenant ou d’un responsable pédagogique, les grèves ou
          conflits sociaux externes à l’organisme de formation, les désastres naturels, les incendies, l’interruption
          des télécommunications, de l’approvisionnement en énergie, ou des transports de tout type, ou toute autre
          circonstance échappant au contrôle raisonnable de SASU PEP’S CONSULT.
        </p>
      </div>

      <div class="section">
        <h3>POUR LES CLIENTS PROFESSIONNELS (associations, entreprises, professions libérales...)</h3>
        <h2>Article 14 : Modalités d’inscription</h2>
        <p>
          Toute commande formulée par écrit (sur bulletin d’inscription papier ou email) ou validée par le paiement
          internet sécurisé d’un acompte est ferme et définitive et emporte l’adhésion pleine et entière du Client aux
          présentes CGV. Le Client s’engage donc à être présent aux dates, heures et lieux prévus. La commande doit
          nécessairement indiquer les coordonnées du Client (nom, prénom, adresse, raison sociale le cas échéant) et la
          formation choisie (titre et date).
        </p>
        <p>
          Si des prérequis sont précisés sur le programme de formation, ils seront vérifiés par l’Organisme de formation
          avant d’accepter l’inscription.
        </p>
        <p>
          Pour toute inscription, une confirmation d’inscription est adressée au Client professionnel ainsi qu’une
          convention de formation à signer par signature électronique, avec cachet de l’entreprise si existant.
        </p>
      </div>

      <div class="section">
        <h2>Article 15 : Documents contractuels</h2>
        <p>
          SASU PEP’S CONSULT fournira à chaque participant une convocation avec toutes les informations pratiques, au
          plus tard 7 jours ouvrés avant la formation, précisant les horaires exacts et le lieu de formation. Le lieu de
          formation indiqué sur les supports de communication n’est pas contractuel. En fonction des salles disponibles,
          SASU PEP’S CONSULT peut convoquer les participants à une autre adresse dans le même secteur géographique.
        </p>
        <p>
          Dans les 7 jours ouvrés qui suivent la formation, SASU PEP’S CONSULT adresse au Client professionnel, la
          facture de formation ainsi que les attestations de participation. Il appartient au Client professionnel de
          vérifier les conditions de prise en charge de l’action de formation auprès de l’organisme financeur dont il
          dépend.
        </p>
      </div>

      <div class="section">
        <h2>Article 16 – Dispositions en cas d’inexécution totale ou partielle de l’action de formation</h2>
        <p>
          Cette indemnité contractuelle fera l’objet d’une facturation séparée de celle due au titre de l’action de
          formation effectivement réalisée et ne pourra pas être imputée sur la participation obligatoire des
          entreprises au financement de la formation professionnelle continue ni faire l’objet d’un financement par les
          OPCO.
        </p>
        <p>
          La non-réalisation totale ou partielle de la prestation de formation, imputable à SASU PEP’S CONSULT ne
          donnera lieu à facturation qu’au titre des prestations de formation effectivement réalisées.
        </p>
      </div>

      <div class="section">
        <h2>Article 17 : Cas d’annulation du fait du Client professionnel</h2>
        <p>
          Toute annulation doit faire l’objet d’une demande écrite (e-mail, courrier) accusée de réception par SASU
          PEP’S CONSULT.
        </p>
        <p>
          En cas d’annulation du fait du Client professionnel avant le début de la formation, le Client professionnel
          sera tenu de dédommager SASU PEP’S CONSULT en lui versant à titre de dédit une indemnité dans les conditions
          suivantes :
        </p>
        <h4>Article 17.1 : Annulation, absence à la formation du stagiaire</h4>
        <ul>
          <li>Plus d’une semaine avant la formation : Indemnité de dédit : 30% du coût global de la Formation</li>
          <li>
            Moins de 1 semaine mais plus de 48 heures avant la formation : Indemnité de dédit : 40% du coût global de la
            Formation
          </li>
          <li>Moins de 48 heures avant la formation : Indemnité de dédit : 50% du coût global de la Formation</li>
        </ul>
        <p>L’indemnité de dédit ne peut être inférieure à l’acompte.</p>
        <p>
          Les sommes versées à titre de dédit commercial ne sont pas finançables par un OPCO et feront l’objet d‘une
          facturation séparée établie par SASU PEP’S CONSULT.
        </p>
      </div>

      <div class="section">
        <h3>
          POUR LES CLIENTS PERSONNES PHYSIQUES FINANÇANT, À TITRE INDIVIDUEL ET À LEURS FRAIS, TOUT OU PARTIE DE LEUR
          FORMATION
        </h3>
        <h2>Article 18 : Modalités d’inscription</h2>
        <p>
          Toute commande formulée par écrit (sur bulletin d’inscription papier ou email) ou validée par le paiement
          internet sécurisé d’un acompte est ferme et définitive et emporte l’adhésion pleine et entière du Client aux
          présentes CGV. Le Client s’engage donc à être présent aux dates, heures et lieux prévus. La commande doit
          nécessairement indiquer les coordonnées du Client (nom, prénom, adresse, raison sociale le cas échéant) et la
          formation choisie (titre et date).
        </p>
        <p>
          Si des prérequis sont précisés sur le programme de formation, ils seront vérifiés par l’Organisme de formation
          avant d’accepter l’inscription.
        </p>
        <p>
          Pour le Client particulier, le versement d’un acompte ne peut être exigé qu’à l’expiration du délai de
          rétractation de 10 jours (14 jours dans le cas d’une vente à distance) à compter de la signature du contrat.
          Ce versement vaudra confirmation d’inscription et le client particulier en sera averti.
        </p>
        <p>
          Le contrat en 2 exemplaires est adressé au Client particulier, un exemplaire est à signer par le Client et à
          retourner à l’Organisme de Formation.
        </p>
      </div>

      <div class="section">
        <h2>Article 19 : Documents contractuels</h2>
        <p>
          SASU PEP’S CONSULT fournira à chaque participant une convocation avec toutes les informations pratiques, au
          plus tard 7 jours ouvrés avant la formation, précisant les horaires exacts et le lieu de formation. Le lieu de
          formation indiqué sur les supports de communication n’est pas contractuel. En fonction des salles disponibles,
          SASU PEP’S CONSULT peut convoquer les participants à une autre adresse dans le même secteur géographique.
        </p>
        <p>
          Dans les 7 jours ouvrés qui suivent la formation, SASU PEP’S CONSULT adresse au Client particulier, la facture
          de formation ainsi que les attestations de participation.
        </p>
      </div>

      <div class="section">
        <h2>Article 20 – Dispositions en cas d’inexécution totale ou partielle de l’action de formation</h2>
        <p>
          Conformément à l’article L.6353-7 du Code du travail, il est rappelé que si, par suite de force majeure dûment
          reconnue, le stagiaire est empêché de suivre la formation jusqu’à son terme, il peut rompre le présent contrat
          de façon anticipée. Dans ce cas, seules les prestations de formation effectivement dispensées sont payées à
          l’organisme de formation à due proportion de leur valeur prévue au contrat.
        </p>
        <p>
          Les parties au présent contrat rappellent également que, en application de l’article L.6354-1 du Code du
          travail, toute inexécution totale ou partielle d’une prestation de formation entraîne l’obligation pour
          l’organisme prestataire de rembourser au cocontractant les sommes indûment perçues de ce fait.
        </p>
        <p>
          Prenant acte de l’obligation légale précitée, les parties conviennent de ce que toute inexécution totale ou
          partielle de l’action de formation imputable au Client particulier (notamment l’absence du Client particulier
          quels que soient les motifs à l’origine de cette absence, à l’exception du cas de force majeure dûment
          reconnu) entraînera l’obligation pour ce dernier de verser à SASU PEP’S CONSULT une indemnité contractuelle
          correspondant à 100% du prix de la formation prévue et non exécutée à titre de réparation du préjudice
          économique subi par SASU PEP’S CONSULT.
        </p>
        <p>
          Cette indemnité contractuelle fera l’objet d’une facturation séparée de celle due au titre de l’action de
          formation effectivement réalisée.
        </p>
        <p>
          La non-réalisation totale ou partielle de la prestation de formation, imputable à SASU PEP’S CONSULT ne
          donnera lieu à facturation qu’au titre des prestations de formation effectivement réalisées.
        </p>
      </div>

      <div class="section">
        <h2>Article 21 : Cas d’annulation du fait du Client particulier</h2>
        <p>
          À compter de la date de signature du contrat, le Client particulier dispose d’un délai de dix jours [quatorze
          jours pour les formations vendues / contrats conclus à distance] pour se rétracter. Il en informe l’organisme
          de formation par lettre recommandée avec demande d’avis de réception dans le délai susvisé.
        </p>
        <p>Dans ce cas, aucune somme ne peut être exigée du Client particulier.</p>
        <p>
          Par ailleurs, tous types d’avantages, d’offres promotionnelles, de quelque nature qu’ils soient, qui seraient
          liés à l’achat d’origine pour lesquels le client ferait valoir son droit à rétractation seront automatiquement
          annulés.
        </p>
        <p>
          En tout état de cause, ce droit ne pourra être exercé pour un service exécuté ou dont l’exécution a commencé.
        </p>
        <p>
          L’article L. 121-20-2 du code de la consommation écarte ou exclut notamment : Les services de stage (en ligne
          ou sous format CD/DVD) basés sur des enregistrements soit audio et vidéo. De ce fait, ce droit de rétractation
          ne peut pas être exercé pour les éléments déjà transmis par mail ou bien dès que vous vous êtes connecté à
          votre espace personnel de stage en ligne.
        </p>
        <p>
          L’annulation de la participation du Client particulier bénéficiaire après expiration du délai de rétractation
          donnera lieu au paiement d’une indemnité de dédit de 30% du coût global de la Formation.
        </p>
        <p>L’indemnité de dédit ne peut être inférieure à l’acompte.</p>
      </div>

      <div class="section">
        <h4>Article 21.1 : Annulation par le bénéficiaire en cas de force majeure</h4>
        <p>
          Si le Client particulier est empêché de suivre la formation par suite de force majeure dûment reconnue, il
          peut rompre le présent contrat. Dans ce cas, seules les prestations effectivement dispensées sont facturées au
          stagiaire à due proportion de la valeur prévue au présent contrat.
        </p>
        <p>Les sommes dues par le client à titre d’indemnisation sont mentionnées comme telles sur la facture.</p>
      </div>

      <div class="section">
        <h2>Article 22 : Sous-traitance</h2>
        <p>
          L’Organisme de formation est autorisé à sous-traiter pour partie ou totalement l’exécution des prestations
          objets du présent contrat. Toutes les obligations du Client qui en découlent ne valent qu’à l’égard de
          l’Organisme de formation, lequel demeure responsable à l’égard du Client de toutes les obligations résultant
          du présent contrat.
        </p>
      </div>

      <div class="section">
        <h3>Règlement de la rétribution d’apporteur d’affaires</h3>
        <h2>Article 23 : Définition</h2>
        <p>
          Apporteur d’affaires : Toute entreprise qui suite à un entretien avec SASU PEP’S CONSULT où les conditions lui
          sont présentées, se mettra à recommander ses formations.
        </p>

        <h4>Article 23.1 : Fonctionnement</h4>
        <p>
          L’Apporteur d’Affaires s’engage à ne pas nuire à la réputation de SASU PEP’S CONSULT. Tout manquement
          entrainera l’arrêt immédiat de la relation. SASU PEP’S CONSULT se réserve le droit de refuser qu’une
          entreprise soit Apporteur d’Affaires pour elle. <br />
          L’Apporteur d’Affaires indique à SASU PEP’S CONSULT les coordonnées du client intéressé, elle entrera en contact
          avec celui-ci. <br />
          Seule SASU PEP’S CONSULT peut accepter ou refuser qu’un client achète sa formation. L’Apporteur d’Affaires ne recevra
          aucun reversement ni dédommagement si SASU PEP’S CONSULT considère que le client apporté ne correspond pas pour
          suivre la formation et refuse d’en valider l’achat, et ce pour quelque raison que ce soit. <br />
          SASU PEP’S CONSULT se réserve le droit d’exclure tout Apporteur d’Affaire qui ne respecte par son éthique et la
          bienveillance envers les clients.
        </p>
        <h4>Article 23.2 : Description</h4>
        <p>L’Apporteur d’Affaires se verra reversé 10% du montant payé par le client apporté.</p>

        <h4>Article 23.3 : Conditions</h4>
        <p>
          L’Apporteur d’Affaires n’est pas limité en nombre de client apporté.
          <br />
          Le reversement se fera lorsque SASU PEP’S CONSULT aura reçu le paiement complet de la formation sur son compte
          bancaire. S’il y a étalement du paiement alors la réversion se fera lorsque le dernier paiement sera encaissé sur
          le compte de SASU PEP’S CONSULT Seule SASU PEP’S CONSULT est à même de proposer un étalement des paiements de la
          formation ainsi que de fixer la date d’entrée en formation.
        </p>
        <h4>Article 23.4 : Durée</h4>
        <p>
          SASU PEP’S CONSULT se réserve la possibilité de modifier ou de mettre fin à tout moment à la rétribution
          d’Apporteur d’Affaires, sans avoir à en informer tous ses apporteurs d’Affaires.
        </p>
        <p>
          Les données à caractère personnel recueillies par SASU PEP’S CONSULT dans le cadre de la proposition de lui
          Apporter des Affaires sont traitées conformément à notre politique de protection des données personnelles.
        </p>
      </div>

      <div class="section">
        <h2>Article 24 : Modalités de traitement des réclamations</h2>
        <p>
          Les éventuelles réclamations découlant de la réalisation des actions de formation professionnelle dispensées
          par SASU PEP’S CONSULT pourront, le cas échéant, être adressées par écrit à SASU PEP’S CONSULT, par courrier
          électronique (nada.bitar@pepsconsult.fr) ou par lettre recommandée avec demande d’avis de réception (à
          l’adresse suivante : SASU PEP’S CONSULT 25 rue du Maréchal Foch 78000 VERSAILLES).
        </p>
      </div>

      <div class="section">
        <h2>Article 25 – Médiation des litiges de la consommation</h2>

        <p>
          Conformément aux dispositions des articles L 611-1 et R 612-1 et suivants du Code de la Consommation
          concernant le règlement amiable des litiges : lorsque le stagiaire a adressé une réclamation écrite à SASU
          PEP’S CONSULT et qu’il n’a pas obtenu satisfaction ou de réponse dans un délai de deux mois, il peut soumettre
          gratuitement sa réclamation au médiateur de la consommation. Le médiateur doit être saisi dans le délai
          maximal d’un an à compter de la réclamation initiale adressée par écrit à SASU PEP’S CONSULT.
        </p>

        <p>
          En application de l’article L.6354-1 du Code du travail, toute inexécution totale ou partielle de l’action de
          formation entraîne l’obligation pour l’organisme prestataire de rembourser au cocontractant les sommes
          indûment perçues de ce fait. <br />
          Prenant acte de l’obligation légale précitée, les parties conviennent de ce que toute inexécution totale ou partielle
          de l’action de formation imputable au Client professionnel ou à son salarié stagiaire de la formation professionnelle
          (notamment en cas d’absence du stagiaire quels que soient les motifs, qu’ils soient justifiés ou pas par une incapacité
          temporaire ou une indisponibilité) entrainera l’obligation pour le Client professionnel de verser à SASU PEP’S
          CONSULT une indemnité contractuelle correspondant à 100% du prix de la formation prévue et non exécutée à titre
          de réparation du préjudice économique subi par SASU PEP’S CONSULT. <br />
          Le médiateur est CM2C. Il peut être saisi directement en ligne à l’adresse suivante :
          <a href="https://cm2c.net" class="text-blue-500">https://cm2c.net</a> ou par mail : <a
            href="mailto:cm2c@cm2c.net"
            class="text-blue-500">cm2c@cm2c.net</a
          > ou par courrier : CM2C 49 Rue de Ponthieu – 75008 Paris.
        </p>
        En application de l’article 14.1 du Règlement (UE) n°524/2013 du Parlement Européen et du Conseil du 21 mai 2013,
        vous êtes informé de la possibilité de saisir la plateforme de Résolution des Litiges en Ligne (RLL) mise à disposition
        par la Commission européenne et accessible à l’adresse suivante :
        <a href="https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&lng=F" class="text-blue-500"
          >https://webgate.ec.europa.eu/odr/main/index.cfm?event=main.home.show&lng=F</a
        >
      </div>

      <div class="section">
        <h2>Article 26 : Protection des données personnelles</h2>
        <p>
          Conformément à la Loi Informatique et Libertés N° 78-17 du 6 janvier 1978, le client dispose d’un droit
          d’accès, de rectification et de suppression des données personnelles qui le concerne.
        </p>
        <p>
          Le client reconnaît avoir pris connaissance de la politique de protection des données personnelles et consent
          à ce que ses données soient collectées et utilisées, sachant que celles-ci seront traitées de manière
          strictement confidentielle. En saisissant ses informations et ses coordonnées sur l’un des sites du réseau de
          SASU PEP’S CONSULT, le client reconnaît accepter recevoir des informations/publications de la part de la
          société par email, courrier ou téléphone, et accepter de recevoir la newsletter. Il est libre de se
          désinscrire à tout instant. Il suffit pour cela de cliquer sur le lien présent à la fin de chaque email.
        </p>
        <p>Le client peut s’inscrire à tout moment sur la liste d’opposition au démarchage téléphonique.</p>
        <p>
          SASU PEP’S CONSULT informe le client qu’il peut être effectué sur l’ensemble des sites un suivi de la
          fréquentation. Pour cela, recours peut être fait à des outils tels que Google Analytics, ou encore Google
          Optimiseur de site, cette liste étant non exhaustive. Ces données, non nominatives, permettent d’améliorer
          l’expérience d’utilisation des sites Internet, et de personnaliser les sites en fonction des demandes
          fréquentes des utilisateurs.
        </p>
        <p>
          Par l’acceptation des présentes conditions générales, le client et/ou participant et/ou souscripteur et/ou
          utilisateur consent implicitement à ce qu’il puisse être filmé, photographié et enregistré durant les
          événements organisés par SASU PEP’S CONSULT. Toutefois, conformément aux dispositions légales stipulées dans
          le cadre du droit à l’image et de la protection de la vie privée :
        </p>
        <ul>
          <li>
            <strong>Pour les personnes majeures :</strong> Avant toute diffusion d’une image de la personne dans un cadre
            privé, SASU PEP’S CONSULT devra obtenir son accord écrit en précisant à quelle date et à quel endroit elle a
            été réalisée.
          </li>
          <li>
            <strong>Pour les personnes mineures :</strong> L’autorisation des parents (ou du responsable) d’un enfant mineur
            devra obligatoirement être obtenue par écrit.
          </li>
        </ul>
      </div>

      <div class="section">
        <h2>Article 27 : Propriété Intellectuelle et copyright</h2>
        <p>
          Les sites Internet, les produits et services de SASU PEP’S CONSULT dans leur intégralité, tant dans leur
          présentation que dans leur contenu (dans sa totalité ou de manière séparée) direct ou indirect, quel qu’en
          soit la forme, sont protégés par les lois en vigueur sur la propriété intellectuelle, et sur le copyright.
          Toute reproduction, diffusion, communication, représentation, réutilisation, modification, publication,
          transmission, dénaturation, que cela soit de manière partielle ou intégrale, sous quelque forme que ce soit,
          tout enregistrement, qu’il soit sous format audio et/ou vidéo, sont interdits, sauf autorisation expresse
          écrite préalable de SASU PEP’S CONSULT ou de ses ayants droits.
        </p>
        <p>
          La responsabilité du client serait engagée si un usage non autorisé était fait des supports de stage et
          formation.
        </p>
        <p>
          Tous les contenus sous quelque forme que ce soit (document, numérique, vidéo ...) sont la propriété exclusive
          de SASU PEP’S CONSULT et toute réutilisation par le client ou stagiaire à des fins autres que son utilisation
          personnelle sont strictement interdites, tel que par exemple la réutilisation à des fins d’activité
          professionnelle pour accompagner à son tour d’autres personnes en réutilisant ces mêmes supports.
        </p>
        <p>
          Les clients autorisent SASU PEP’S CONSULT à faire apparaitre leur logo, leur(s) témoignage(s) et description
          sur ses sites.
        </p>
        <p>
          © Copyright 2024. Le matériel ne peut être modifié, copié ou traduit sans l’autorisation écrite expresse de
          l’éditeur, sauf dans les cas permis par la loi en vigueur.
        </p>
      </div>

      <div class="section">
        <h2>Article 28 : Confidentialité et communication</h2>
        <p>
          SASU PEP’S CONSULT, le Client et le Stagiaire s’engagent à garder confidentiels les documents et les
          informations auxquels ils pourraient avoir accès au cours de la prestation de formation ou à l’occasion des
          échanges intervenus antérieurement à l’inscription, notamment l’ensemble des éléments figurant dans la
          proposition transmise par SASU PEP’S CONSULT au Client.
        </p>
        <p>
          SASU PEP’S CONSULT s’engage à ne pas communiquer à des tiers autres que les partenaires avec lesquels sont
          organisées les formations et aux OPCO, les informations transmises par le Client y compris les informations
          concernant les Stagiaires.
        </p>
        <p>
          Cependant, le Client accepte d’être cité par SASU PEP’S CONSULT comme client de ses formations. À cet effet,
          le Client autorise SASU PEP’S CONSULT à mentionner son nom ainsi qu’une description objective de la nature des
          prestations dans ses listes de références et propositions à l’attention de ses prospects et de sa clientèle.
        </p>
      </div>

      <div class="section">
        <h2>Article 29 : Limitations et / ou exclusions de responsabilité</h2>
        <p>
          Le client et/ou participant et/ou souscripteur et/ou utilisateur déclare reconnaître et/ou exprimer et/ou
          accepter et/ou approuver sans réserve que :
        </p>
        <ul>
          <li>
            <strong>Responsabilité sur la mise en pratique :</strong> SASU PEP’S CONSULT ne saurait être tenue responsable
            des conséquences d’une mauvaise mise en pratique de la formation par le stagiaire.
          </li>
          <li>
            <strong>Absence de garantie :</strong> SASU PEP’S CONSULT ne donne aucune promesse ni garantie quant aux résultats
            obtenus par la mise en pratique des formations.
          </li>
          <li>
            <strong>Responsabilité physique :</strong> Le client est seul responsable de son degré de participation et de
            ses décisions concernant les exercices physiques proposés.
          </li>
          <li>
            <strong>Exclusion de responsabilité :</strong> SASU PEP’S CONSULT n’est pas responsable des pertes ou dommages
            causés par l’utilisation de ses services ou conseils, ni des risques liés à la santé.
          </li>
        </ul>
      </div>

      <div class="section">
        <h2>Article 30 : Réclamations</h2>
        <p>
          Toute réclamation du Client devra être formulée par écrit à l’Organisme de formation à l’adresse suivante :<br
          />
          SASU PEP’S CONSULT - 25 rue du Marechal Foch - 78000 VERSAILLES, qui s’efforcera d’y répondre dans les meilleurs
          délais.
        </p>
      </div>

      <div class="section">
        <h2>Article 31 : Droit applicable et compétence d’attribution</h2>
        <p>
          Toutes les clauses figurant dans les présentes CGV ainsi que toutes les opérations d’achat et de vente qui y
          sont visées, seront soumises au droit français. En cas de litige, la recherche d’une solution à l’amiable sera
          privilégiée. À défaut, l’affaire sera portée devant les tribunaux de Versailles.
        </p>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="section">
      <h2>Formulaire de rétractation</h2>
      <a
        class="text-underline flex items-center gap-2 fill-primary text-primary hover:fill-tertiary hover:text-tertiary"
        href="/documents/pepsconsult-formulaire_retractation.pdf"
        target="_blank"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-inherit"
          ><path
            d="M8.267 14.68c-.184 0-.308.018-.372.036v1.178c.076.018.171.023.302.023.479 0 .774-.242.774-.651 0-.366-.254-.586-.704-.586zm3.487.012c-.2 0-.33.018-.407.036v2.61c.077.018.201.018.313.018.817.006 1.349-.444 1.349-1.396.006-.83-.479-1.268-1.255-1.268z"
          ></path><path
            d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8l-6-6zM9.498 16.19c-.309.29-.765.42-1.296.42a2.23 2.23 0 0 1-.308-.018v1.426H7v-3.936A7.558 7.558 0 0 1 8.219 14c.557 0 .953.106 1.22.319.254.202.426.533.426.923-.001.392-.131.723-.367.948zm3.807 1.355c-.42.349-1.059.515-1.84.515-.468 0-.799-.03-1.024-.06v-3.917A7.947 7.947 0 0 1 11.66 14c.757 0 1.249.136 1.633.426.415.308.675.799.675 1.504 0 .763-.279 1.29-.663 1.615zM17 14.77h-1.532v.911H16.9v.734h-1.432v1.604h-.906V14.03H17v.74zM14 9h-1V4l5 5h-4z"
          ></path></svg
        >
        <span>Afficher le formulaire</span>
      </a>
    </div>
  </div>
</DefaultLayout>

<style lang="scss">
  .section {
    @apply mb-8 lg:mb-12;

    a {
      @apply font-semibold text-primary underline duration-150 ease-in hover:text-tertiary;
    }
    h2 {
      @apply mb-2 text-lg font-bold text-primary;
    }
    h3 {
      @apply mb-4 text-xl font-semibold text-black;
    }
    h4 {
      @apply mb-2 text-md font-semibold;
    }
    p {
      @apply mb-2 text-base;
    }
    ul {
      @apply mb-4 list-disc pl-6;

      li {
        @apply mb-2 text-base;
      }
    }
  }
</style>
