---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="404">
  <section class="container my-12">
    <h1>Contact</h1>
    <div
      class="calendly-inline-widget"
      data-url="https://calendly.com/exizef/30min?primary_color=ff0000"
      style="min-width:320px;height:700px;"
    >
    </div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
  </section>
</DefaultLayout>
