---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Foire aux questions">
  <section class="my-12">
    <div class="container text-center">
      <h1 class="text-lg font-bold">Foire aux questions</h1>
      <p class="text-lg">
        Page en construction, revenez plus tard.
        <br />
        En attendant, vous pouvez consulter nos services.
      </p>
      <div class="mx-auto mt-4 flex w-fit items-center gap-4">
        <a
          href="/services/entreprises"
          class="rounded-full border border-primary px-4 py-1 text-primary duration-200 hover:bg-primary hover:text-white"
          >Services pour les entreprises</a
        >
        <a
          href="/services/particuliers"
          class="rounded-full border border-primary px-4 py-1 text-primary duration-200 hover:bg-primary hover:text-white"
          >Services pour les particuliers</a
        >
      </div>
    </div>
  </section>
</DefaultLayout>
