---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Home">
  <section class="container my-12">
    <h1>Pep’s Consult</h1>
    <p>Une solution à tout vos problèmes de formations !</p>
    <a href="/services">Nos services</a>
  </section>
</DefaultLayout>
