---
import * as globals from '../globals'
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout
  title="Mentions Légales"
  description="Mentions légales de Pep's Consult, organisme de formation certifié Qualiopi basé à Versailles. Informations légales et SIRET."
>
  <section class="my-12">
    <div class="container">
      <div class="mb-8 lg:mb-12">
        <h1 class="page-title !mb-2">Mentions légales</h1>
        <p>
          Conformément aux dispositions des articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance
          dans l'Économie Numérique (LCEN), <br /> nous portons à la connaissance des utilisateurs et visiteurs du site <a
            href="/">pepsconsult.fr</a
          > les informations suivantes :
        </p>
      </div>
      <div class="mb-8 lg:mb-12">
        <h2>Éditeur du site</h2>
        <ul>
          <li>Nom de l’entreprise : <span class="font-medium">PEP'S CONSULT SASU</span></li>
          <li>Siège social : {globals.address}</li>
          <li>Nom et prénom du directeur de la publication : Nada BITAR</li>
          <li>Email : {globals.email}</li>
          <li>Téléphone : {globals.phone}</li>
        </ul>
      </div>
      <div class="mb-8 lg:mb-12">
        <h2>Hébergeur du site</h2>
        <p>Le site <a href="/">pepsconsult.fr</a> est hébergé par :</p>
        <ul>
          <li>Nom de l’hébergeur : <a href="https://www.o2switch.fr/" target="_blank">O2SWITCH</a></li>
          <li>Siret : 510 909 807 00024</li>
          <li>RCS Clermont Ferrand</li>
          <li>SARL au capital de 100 000€</li>
          <li>Opérateur Télécom déclaré ARCEP</li>
          <li>09/2989 – AS50474</li>
        </ul>
      </div>
      <div class="mb-8 lg:mb-12">
        <h2>Propriété intellectuelle</h2>
        <p>
          L'ensemble du contenu présent sur le site <a href="/">pepsconsult.fr</a>, incluant, de manière non limitative,
          les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme
          sont la propriété exclusive de <span class="font-medium">PEP'S CONSULT SASU</span> à l'exception des marques, logos
          ou contenus appartenant à d'autres sociétés partenaires ou auteurs.
        </p>
      </div>
      <div class="mb-8 lg:mb-12">
        <h2>Responsabilité</h2>
        <p>
          <span class="font-medium">PEP'S CONSULT SASU</span> s'efforce de fournir sur le site <a href="/"
            >pepsconsult.fr</a
          > des informations aussi précises que possible. Toutefois, elle ne pourra être tenue responsable des omissions,
          des inexactitudes et des carences dans la mise à jour, qu'elles soient de son fait ou du fait des tiers partenaires
          qui lui fournissent ces informations.
        </p>
      </div>
      <div class="mb-8 lg:mb-12">
        <h2>Données personnelles</h2>
        <p>
          <span class="font-medium">PEP’S CONSULT SASU</span> s’engage à protéger les données personnelles de ses utilisateurs
          conformément à la réglementation en vigueur..
        </p>
      </div>
      <div class="mb-8 lg:mb-12">
        <h2>Cookies</h2>
        <p>
          Le site <a href="/">pepsconsult.fr</a> utilise des cookies pour améliorer l’expérience utilisateur et analyser le
          trafic du site.
        </p>
      </div>
      <div class="mb-8 lg:mb-12">
        <h2>Litiges</h2>
        <p>
          Tout litige en relation avec l’utilisation du site <a href="/">pepsconsult.fr</a> est soumis au droit français.
          Il est fait attribution exclusive de juridiction aux tribunaux compétents de Versailles.
        </p>
      </div>
      <div class="mb-8 lg:mb-12">
        <h2>Crédits</h2>
        <h3>Design : <a href="https://julienmercier1.myportfolio.com/" target="_blank">Julien Mercier</a></h3>
        <h3>Developpement : <a href="https://www.maximefontenay.fr" target="_blank">Maxime Fontenay</a></h3>
      </div>
    </div>
  </section>
</DefaultLayout>

<style lang="scss">
  a {
    @apply text-primary hover:text-tertiary font-semibold underline duration-150 ease-in;
  }
  h2 {
    @apply text-primary mb-2 text-lg font-bold;
  }
</style>
