---
import { Image } from 'astro:assets'
import logo from '../assets/images/logo.png'
import WavesDesktop from './waves/wavesDesktop.astro'
import WavesMobile from './waves/wavesMobile.astro'
---

<script type="module">
  const menuToggle = document.getElementById('menu-toggle')
  const menuOpenIcon = document.getElementById('menu-open-icon')
  const menuCloseIcon = document.getElementById('menu-close-icon')

  const toggleMenu = () => {
    console.log('menu')
    const menu = document.getElementById('mobile-menu')

    menu.classList.toggle('menu-open')

    menuOpenIcon.classList.toggle('hidden')
    menuCloseIcon.classList.toggle('hidden')
  }
  menuToggle.addEventListener('click', toggleMenu)

  const links = document.querySelectorAll('a.menu-item')
  const currentPath = window.location.pathname
  links.forEach((link) => {
    if (link.getAttribute('href') === currentPath) {
      link.classList.add('active')
    } else {
      link.classList.remove('active')
    }
  })
</script>

<header class="container flex items-center justify-between pt-4">
  <a href="/" aria-label="Page d'accueil">
    <Image
      class="max-w-[200px] xl:max-w-[250px]"
      src={logo}
      alt="Logo Pep's Consult"
      fetchpriority={'high'}
      quality={'max'}
      draggable="false"
    />
  </a>
  <nav class="hidden w-fit items-center justify-end py-6 font-semibold whitespace-nowrap md:flex">
    <a href="/" class="menu-item p-2 hover:text-primary">Accueil</a>
    <div class="flx-center group relative p-2">
      <div class="flx-center cursor-default gap-2">
        <span>Nos services</span>
        <svg
          class="duration-300 group-hover:-scale-y-100"
          width="18"
          height="10"
          viewBox="0 0 18 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 1.49609L8.93411 8.44619C8.97182 8.47922 9.02818 8.47922 9.06589 8.44619L17 1.49609"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"></path>
        </svg>
      </div>
      <div
        class="linear absolute left-0 top-full z-50 flex flex-col whitespace-nowrap rounded-xl bg-white opacity-0 shadow-md duration-150 group-hover:opacity-100"
      >
        <a href="/services/entreprises" class="menu-item px-6 pb-2 pt-4 hover:text-primary">Pour les entreprises</a>
        <a href="/services/particuliers" class="menu-item px-6 pb-4 pt-2 hover:text-primary">Pour les particuliers</a>
      </div>
    </div>
    <a href="/formations" class="menu-item p-2 hover:text-primary">Formations</a>
    <a href="/nada" class="menu-item p-2 hover:text-primary">Qui suis-je</a>
    <a href="/contact" class="menu-item p-2 hover:text-primary">Contact</a>
  </nav>

  <button id="menu-toggle" class="fixed right-4 top-4 z-50 rounded-md p-2 sm:right-10 md:hidden">
    <svg id="menu-open-icon" width="30" height="28" viewBox="0 0 30 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="15" height="8" rx="3" fill="#0089DC"></rect>
      <rect y="10" width="30" height="8" rx="3" fill="#0089DC"></rect>
      <rect x="15" y="20" width="15" height="8" rx="3" fill="#0089DC"></rect>
    </svg>

    <svg
      id="menu-close-icon"
      class="hidden"
      width="30"
      height="28"
      viewBox="0 0 30 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect x="6.65625" width="16" height="8" rx="3" transform="rotate(45 6.65625 0)" fill="#0089DC"></rect>
      <rect x="1.56445" y="21.7782" width="30" height="8" rx="3" transform="rotate(-45 1.56445 21.7782)" fill="#0089DC"
      ></rect>
      <rect x="18.6562" y="11" width="16" height="8" rx="3" transform="rotate(45 18.6562 11)" fill="#0089DC"></rect>
    </svg>
  </button>

  <!-- style="transform: none; opacity: 1; pointer-events: auto;" -->
  <nav
    id="mobile-menu"
    class="md:hidden fixed inset-0 z-40 flex-col items-center justify-center space-y-8 bg-white text-2xl text-black transition-all"
  >
    <ul
      class="mx-auto flex h-full w-fit -translate-y-12 list-none flex-col justify-center gap-4 text-center text-lg font-medium"
    >
      <li class="mb-12">
        <a href="/">
          <Image class="max-w-[220px] mx-auto" src={logo} alt="Logo Pep's Consult" quality={'max'} draggable="false" />
        </a>
      </li>
      <li><a href="/" class="menu-item block px-4 py-2 hover:text-primary">Accueil</a></li>
      <li class="h-fit w-lvw px-10">
        <p class="mb-1 text-base font-bold text-primary">Services</p>
        <div class="grid grid-cols-2 gap-2">
            <a href="/services/entreprises" class="flx-center flex-col border-2 border-primary text-sm rounded-md w-full p-2 leading-none hover:text-primary">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="fill-primary" viewBox="0 0 256 256"><path d="M240,208h-8V72a8,8,0,0,0-8-8H184V40a8,8,0,0,0-8-8H80a8,8,0,0,0-8,8V96H32a8,8,0,0,0-8,8V208H16a8,8,0,0,0,0,16H240a8,8,0,0,0,0-16ZM40,112H80a8,8,0,0,0,8-8V48h80V72a8,8,0,0,0,8,8h40V208H152V168a8,8,0,0,0-8-8H112a8,8,0,0,0-8,8v40H40Zm96,96H120V176h16ZM112,72a8,8,0,0,1,8-8h16a8,8,0,0,1,0,16H120A8,8,0,0,1,112,72Zm0,32a8,8,0,0,1,8-8h16a8,8,0,0,1,0,16H120A8,8,0,0,1,112,104Zm56,0a8,8,0,0,1,8-8h16a8,8,0,0,1,0,16H176A8,8,0,0,1,168,104ZM88,136a8,8,0,0,1-8,8H64a8,8,0,0,1,0-16H80A8,8,0,0,1,88,136Zm0,32a8,8,0,0,1-8,8H64a8,8,0,0,1,0-16H80A8,8,0,0,1,88,168Zm24-32a8,8,0,0,1,8-8h16a8,8,0,0,1,0,16H120A8,8,0,0,1,112,136Zm56,0a8,8,0,0,1,8-8h16a8,8,0,0,1,0,16H176A8,8,0,0,1,168,136Zm0,32a8,8,0,0,1,8-8h16a8,8,0,0,1,0,16H176A8,8,0,0,1,168,168Z"></path></svg>
              Entreprises
            </a>
            <a href="/services/particuliers" class="flx-center flex-col border-2 border-primary text-sm rounded-md w-full p-2 leading-none hover:text-primary">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="fill-primary" viewBox="0 0 256 256"><path d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z"></path></svg>
              Particuliers
            </a>
        </div>
      </li>
      <li><a href="/formations" class="menu-item block px-4 py-2 hover:text-primary">Formations</a></li>
      <li><a href="/nada" class="menu-item block px-4 py-2 hover:text-primary">À propos</a></li>
      <li><a href="/contact" class="menu-item block px-4 py-2 hover:text-primary">Contact</a></li>
    </ul>

    <div class="hidden waves:block pointer-events-none absolute left-0 w-full scale-[3] sm:scale-150 md:scale-110 lg:scale-125 -z-10 top-[10vh]">
        <WavesDesktop/>
    </div>
    <div class="waves:hidden pointer-events-none absolute left-0 w-full scale-[2.2] -z-10 top-[30vh] opacity-50">
        <WavesMobile/>
    </div>
  </nav>
</header>

<style lang="scss">
  #mobile-menu {
    transform: translateX(-20%);
    opacity: 0;
    pointer-events: none;

    &.menu-open {
      transform: translateX(0);
      opacity: 1;
      pointer-events: auto;
    }
  }

  .menu-item {
    transition: color 0.3s;

    &.active {
      @apply text-primary;
    }
  }
</style>