---
---

<header>
  <nav class="flx-center mx-auto w-fit gap-4 py-8 font-semibold">
    <a href="/">Accueil</a>
    <a href="/services">Nos services</a>
    <a href="/nada">Qui suis-je ?</a>
    <a href="/contact">Contact</a>
  </nav>
</header>

<style lang="scss" is:global></style>
