---
import { Image } from 'astro:assets'
import logo from '../assets/img/logo.png'
---

<header>
  <Image src={logo} alt="Logo Pep's Consult" fetchpriority={'high'} quality={'max'} />
  <nav class="md:flx-center mx-auto hidden w-fit gap-4 py-8 font-semibold">
    <a href="/">Accueil</a>
    <a href="/services">Nos services</a>
    <a href="/nada">Qui suis-je ?</a>
    <a href="/contact">Contact</a>
  </nav>
</header>

<style lang="scss" is:global></style>
